
#include <stdio.h>
#include <string.h>

#include "esp_event.h"
#include "esp_http_client.h"
#include "esp_log.h"
#include "esp_wifi.h"
#include "nvs_flash.h"
#include "../constants.h"
#define WIFI_SSID "ssid"
#define WIFI_PASS "password"
#define TAG "REST_CLIENT"

#define SERVER_IP "192..."
#define SERVER_PORT 3253
inline const char *base_url = "http://server";
#define TAG "REST_CLIENT"
#define DATAFRAME_PAYLOAD_LENGTH 8192

void connect_to_wifi();
char * post_dataframe();
int post_dataframe_id(const char *id, int *array, size_t len);
int get_model_dataframe(const char *id, const char *end_dec, char *buffer,size_t len);
void http_rest_with_url();